@font-face {
  font-family: pixelFont;
  src: url("../font/pixel.ttf");
}

@font-face {
  font-family: paraFont;
  src: url("../font/dogica.ttf");
}

:root {
  --title-color: #1e90ff;
  --sub-color: #302b25;
  --bg-color:#0a0d0a;
  --text-shadow: #690804;
  --text-color:#373a3e;
  --light-color: #f8c337;
}

*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: pixelFont;
  -webkit-font-smoothing: antialiased;
  background-color: var(--bg-color);
}

p{
  font-size: 20px;
  color: var(--light-color);
  font-family: sans-serif;
  margin-bottom: 30px;
  font-weight: 500;
}
h1{
  font-size: 160px;
  text-shadow: 0 0 50px var(--text-shadow);
  color: var(--bg-color);
  font-weight: 999;
}

h2{
  font-size: 90px;
  color:var(--bg-color);
  line-height: 0;
  margin-bottom: 70px;
  text-shadow: 0 0 40px var(--text-shadow);
}

h3{
  color:var(--text-color);
  font-size: 30px;
  margin-bottom: 30px;
}

h4{
  font-size: 40px;
  line-height: 0;
  text-shadow: 0 0 20px var(--text-shadow);
  color: var(--bg-color);
  z-index: 999;
}
a{
  font-size: 50px;
  color:var(--sub-color);
  text-decoration:none;
}

a:hover{
  cursor: pointer ;
  text-shadow: 0 0 15px #f8c337;
  color: var(--bg-color);
  transition: .2s;

}

.home{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  text-align: center;
  margin: auto;
  font-weight: bolder;
}

.home a{
  display:block;
  list-style-type: square;
}

